.overview{
    border: 2px solid darkgrey;
    border-radius: 20px;
    text-align:center;
}

.list-btn{
    height: 50%;
    width:80%;
}

.margin-top-outerbox{
    margin-top: 25px;
}

.box-shadow{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}