.sidemenu > a{
    max-width:250px;

}
.list-btn{
    height: 50%;
    width:80%;
}

.margin-top-outerbox{
    margin-top: 25px;
}

.align {
    display: flex;
    justify-content: center;
    align-items: center;
}