<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GanttChart</title>
    <th:block th:fragment="chartProjectHead (projectChart)">

        <!--
        ===============================
        Author: Mark Kaplan Hansen
        github: BenAtic-KEA
        Date: Dec 12, 2021
        ===============================
        Source: https://developers.google.com/chart/interactive/docs/gallery/ganttchart?hl=da#grouping-resources  -->

        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript" th:inline = "javascript">
            google.charts.load('current', {
                callback: drawProjectChart,
                packages: ['gantt']
            });
            google.charts.setOnLoadCallback(drawProjectChart());

            function daysToMilliseconds(days) {
                return days * 24 * 60 * 60 * 1000;
            }
            function drawProjectChart() {

                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Task ID');
                data.addColumn('string', 'Task Name');
                data.addColumn('string', 'Resource');
                data.addColumn('date', 'Start Date');
                data.addColumn('date', 'End Date');
                data.addColumn('number', 'Duration');
                data.addColumn('number', 'Percent Complete');
                data.addColumn('string', 'Dependencies');

                var rows = /*[[${projectChart}]]*/ "";
                var rowsToRead = [];
                for(i = 0; i < rows.length;i++){
                    const currentArray = [];
                    var currentID = rows[i][0];
                    var currentName = rows[i][1];
                    var currentResource = rows[i][2];
                    var currentStartDate = new Date(rows[i][3]);
                    var currentEndDate = new Date(rows[i][4]);
                    var currentDuration= daysToMilliseconds(parseInt(rows[i][5]));
                    var currentComplete = parseInt(rows[i][6]);
                    var currentDependencies = null;
                    if(rows[i][7] != null){
                        currentDependencies = rows[i][7];
                    }

                    currentArray.push(currentID,currentName,currentResource,currentStartDate,currentEndDate,currentDuration,currentComplete,currentDependencies)
                    rowsToRead.push(currentArray);
                }
                console.log(rowsToRead);
                data.addRows(rowsToRead);

                var container = document.getElementById('project-container');
                var options = {
                    height: 275,
                    width: container.getBoundingClientRect().width-15,
                };
                var chart = new google.visualization.Gantt(document.getElementById('chart_Projects'));

                chart.draw(data, options);
            }

        </script>
    </th:block>
</head>
<body>
<div th:fragment="chartProjectBody" id="chart_Projects"></div>
</body>
</html>