<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title> fragment</title>
    <th:block th:fragment="chartProjectHead (projectChart)">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" th:inline="javascript">
        google.charts.load('current', {'packages':['bar']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = google.visualization.arrayToDataTable(/*[[${projectChart}]]*/);
            console.log(data)

            var options = {
                chart: {
                    title: 'ProjectTime',
                    subtitle: 'Est. time on Projects',
                },
                bars: 'horizontal' // Required for Material Bar Charts.
            };

            var chart = new google.charts.Bar(document.getElementById('barchart_material'));
            chart.draw(data, google.charts.Bar.convertOptions(options));
        }
    </script>
    </th:block>
</head>
<body>
<div th:fragment="chartProjectBody (projectChart)" id="barchart_material" class="col-6" style="width: 100%; height: 400px; background-size: cover; "></div>
</body>
</html>
