<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style th:fragment="style">
        #title {
            border:none;
            font-size : 140%;
        }
        #title:hover {
            color:black;
            border-bottom: #FF325A 4px solid;
        }

    </style>
</head>
<body>



<!--
Trigger buttons:
-->

<button th:fragment="task-display-trigger" type="button" class="btn btn-primary" data-toggle="modal" data-target="#taskDisplay">Open</button>

<!--
Modals:
-->

<div th:fragment="task-display-modal" class="modal fade" id="taskDisplay" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" th:object="${task}">
            <form th:action="'/project' + ${projectID} + '/' + ${taskID} + '/update'" method="post" >
            <div class="modal-header">
                <div class="task-title">
                    <label for="title"></label>
                    <input type="text" id="title" name="title" th:field="${task.getTitle()}" placeholder="Title">
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body container-fluid">
                <div class="task-status">
                    <label for="status">Status</label>
                    <select id="status" name="status" th:value="${task.getStatus} != null ? ${task.getStatus} : null">
                        <option value="0">Started</option>
                        <option value="1">Pending</option>
                        <option value="2">Closed</option>
                    </select>
                </div>
                <div class="task-type">
                    <label for="type"></label>
                    <input id="type" name="type">
                </div>
                <div class="task-description">

                </div>
                <div class="task-work-product">

                </div>
                <div class="task-deadline">

                </div>
                <div class="task-start-date">

                </div>
                <div class="est-hours">

                </div>
                <div class="spent-hours">

                </div>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#taskDelete">Delete</button>
            </div>
            <div class="modal-footer">
                <div class="btn-group" role="group">
                    <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Save Changes">
                </div>
            </div>
            </form>
        </div>
    </div>
</div>

<div th:fragment="task-delete-modal" class="modal fade" id="taskDelete" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Delete task</h5>
            </div>
            <div class="modal-body">
                <p>Press the delete button to confirm the deletion of the selected task.</p>
            </div>
            <div class="modal-footer">
                <div class="btn-group">
                    <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <form th:action="'/project' + ${projectID} + '/' + ${taskID} + '/delete'" method="post" >
                        <input type="submit" id="delete-task-confirmation" value="Delete Button" class="btn btn-danger">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>